* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.body {
  max-width: 1440px;
  padding: 20px 0px 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background: var(--background-body, #e1d4c9);
  box-sizing: border-box;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  max-width: 1440px;
}
@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
  }
}
.header-container {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
@media (max-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 100%;
    z-index: 2;
  }
}
@media (max-width: 380px) {
  .header-container {
    padding: 0px 16px;
  }
}
.logo {
  width: 100px;
  height: 60px;
  cursor: pointer;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
.header-menu {
  display: flex;
  max-width: 1360px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
@media (max-width: 768px) {
  .header-menu {
    display: flex;

    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
}

.menu-item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  height: 28px;
}
.menu-item {
  position: relative;
  text-decoration: none;
  color: #403f3d;
}

.menu-item::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 2px;
  bottom: 0;
  background-color: #403f3d;
  opacity: 0;
  transition: width 0.7s, opacity 0.7s;
}
@media (hover: hover) {
  .menu-item:hover::after {
    width: 100%;
    opacity: 1;
    /* right: -50%; */
  }
}
.active-menu-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #403f3d;
  transition: none;
  opacity: 1;
}

.link {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  text-decoration: none;
  height: 24px;
}

.coffee-menu {
  display: flex;
  width: 72px;
  height: 28px;
  justify-content: flex-end;
  align-items: center;
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
@media (max-width: 768px) {
  .coffee-menu {
    display: none;
  }
}

.button-icon-burger {
  display: none;
}
@media (max-width: 768px) {
  .button-icon-burger {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665f55);
  }
}
.button-icon-burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  transition: all 1s ease;
}
.burger-hover1 {
  width: 16px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  stroke-width: 1.5px;
  stroke: var(--text-dark, #403f3d);
}
.burger-hover2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  stroke-width: 1.5px;
  stroke: var(--text-dark, #403f3d);
  width: 16px;
}

.burger-hover1,
.burger-hover2 {
  opacity: 0;
  transition: opacity 0.5s ease;
}
/* @media (hover: hover) {
  .button-icon-burger:hover .burger-hover1,
  .button-icon-burger:hover .burger-hover2 {
    opacity: 1;
  }
  .button-icon-burger:hover .burger-default1,
  .button-icon-burger:hover .burger-default2 {
    opacity: 0;
  }
} */
.burger-hover-active{
  opacity:1;
  transition: opacity 0.5s ease;
}

.burger-default1,
.burger-default2 {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.burger-default-active{
  opacity:0;
  transition: opacity 0.5s ease;
  
}
.new-menu {
  transform: translateX(2000px);
  background: var(--background-body, #e1d4c9);
  transition: all 1s ease-in-out;
  height:0;
  
}


.new-menu2 {
  display: flex;
  max-width: 768px;
  width: 100%;
  padding: 80px 40px;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  flex: 1 0 0;
  background: var(--background-body, #e1d4c9);
  transform: translateX(0);
  height: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 1s ease-in-out;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  align-self: stretch;
  padding-top: 60px;
}
.nav-menu-cup {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/burger-link */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 40px */
}

.main {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  margin-bottom: 100px;
}
.menu-container {
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
@media (max-width: 768px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
  }
}
@media (max-width: 380px) {
  .main {
    padding: 0px 16px;
  }
}
.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  padding-top: 20px;
}
.menu-name {
  max-width: 800px;
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-2 */
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}
.amazing {
  color: var(--text-accent, #b0907a);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-2.accent */
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}
@media (max-width: 380px) {
  .menu-name {
    font-size: 32px;
  }
  .amazing {
    font-size: 32px;
  }
}
@media screen and (min-width: 381px) and (max-width: 767px) {
  .menu-name amazing {
    font-size: calc(32px + (72 - 32) * ((100vw - 380px) / (768 - 380)));
  }
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 361px;
}
@media (max-width: 380px) {
  .tabs {
    gap: 8px;
  }
}
.tab-item1 {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--background-container, #665f55);
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  cursor: pointer;
  border: 1px solid var(--border-light, #c1b6ad);
  transition: all 0.7s ease;
}
.icon1 {
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--background-body, #e1d4c9);

  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  height: 30px;
  width: 30px;
  transition: all 0.7s ease;
}
.picture-in-icon {
  height: 18px;
  width: 14px;
}
.tab-item2 {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition: all 0.7s ease;
}
.icon2 {
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--border-light, #c1b6ad);
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  height: 30px;
  width: 30px;
  transition: all 1s ease;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
@media (hover: hover) {
  .tab-item2:hover {
    background: var(--background-container, #665f55);
    color: var(--text-light, #e1d4c9);
    transition: 0.7s;
    cursor: pointer;
  }
  .tab-item2:hover .icon2 {
    background-color: #e1d4c9;
  }
}

.tab-item3 {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition: all 0.7s ease;
}
.icon3 {
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--border-light, #c1b6ad);
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  height: 30px;
  width: 30px;
  transition: all 0.7s ease;
}
@media (hover: hover) {
  .tab-item3:hover {
    background: var(--background-container, #665f55);
    color: var(--text-light, #e1d4c9);
    transition: 0.7s;
    cursor: pointer;
  }
  .tab-item3:hover .icon3 {
    background-color: #e1d4c9;
  }
}

.grid {
  display: flex;
  max-width: 1360px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}
.preview {
  display: flex;
  height: 506px;

  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 1px solid var(--border-light, #c1b6ad);
  width: 310px;
  cursor: pointer;
}
@media (hover: hover) {
  .preview:hover .coffee-type {
    transform: scale(0.92);
    transition: 0.7s;
  }
}

.box {
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coffee-type {
  border-radius: 40px;
  transform: scale(1);
  transition: 0.7s;
}
.description-coffee {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.text-description-coffee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.text-coffee {
  align-self: stretch;
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-3 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.small-text-coffee {
  align-self: stretch;
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Body/medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-wrap: wrap;
  word-wrap: break-word;
  /* max-width: 100%; */
}
.price {
  align-self: stretch;
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-3 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

@media (max-width: 768px) {
  .second {
    display: none;
  }
}
.button-refresh {
  display: none;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
}
/*
@media (max-width: 768px) {
  .button-refresh {
    display: flex;
  }
    }*/

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 0px 40px;
}
@media (max-width: 380px) {
  .contacts {
    display: flex;
    width: 380px;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.contacts-container {
  display: flex;
  max-width: 1360px;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: stretch;
  border-radius: 40px;
  background: var(--background-container, #665f55);
}

.contacts-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}

@media (max-width: 768px) {
  .contacts-container {
    display: flex;
    max-width: 1360px;
    padding: 100px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    align-self: stretch;
    border-radius: 40px;
    background: var(--background-container, #665f55);
  }
  .contacts-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
  }
  .contacts-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
  }
}
@media (max-width: 380px) {
  .contacts-container {
    padding: 60px 16px;
    flex-direction: column;
    gap: 40px;
  }
}
.contacts-text {
  align-self: stretch;
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-2 */
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}
.its {
  align-self: stretch;
  color: var(--text-accent, #b0907a);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-2.accent */
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}
@media (max-width: 380px) {
  .contacts-text {
    font-size: 32px;
    margin-right: -10px;
  }
  .its {
    font-size: 32px;
  }
}
@media screen and (min-width: 381px) and (max-width: 767px) {
  .contacts-text its {
    font-size: calc(32px + (72 - 32) * ((100vw - 380px) / (768 - 380)));
  }
}
.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}
.socials button {
  cursor: pointer;
}
.button-inst {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  background-color: #665f55;
  transition: all 1s ease;
}
@media (hover: hover) {
  .button-inst:hover {
    background-color: #e1d4c9;
  }
  .button-inst:hover svg.default-inst {
    display: none;
  }

  .button-inst:hover svg.hover-inst {
    display: block;
  }
}

.button-inst svg.default-inst {
  display: block;
}

.button-inst svg.hover-inst {
  display: none;
}

.button-twitter {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  background-color: #665f55;
  transition: all 1s ease;
}
@media (hover: hover) {
  .button-twitter:hover {
    background-color: #e1d4c9;
  }

  .button-twitter:hover svg.default-twitter {
    display: none;
  }

  .button-twitter:hover svg.hover-twitter {
    display: block;
  }
}

.button-twitter svg.default-twitter {
  display: block;
}
.button-twitter svg.hover-twitter {
  display: none;
}

.button-facebook {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  background-color: #665f55;
  transition: all 1s ease;
}
@media (hover: hover) {
  .button-facebook:hover {
    background-color: #e1d4c9;
  }
  .button-facebook:hover svg.default-facebook {
    display: none;
  }

  .button-facebook:hover svg.hover-facebook {
    display: block;
  }
}

.button-facebook svg.default-facebook {
  display: block;
}

.button-facebook svg.hover-facebook {
  display: none;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
.contact-us {
  align-self: stretch;
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-3 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.contacts-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* gap: 16px; */
}
.contacts-right-part {
  gap: 16px;
}
.link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}
.location {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  text-decoration: none;
}
.tel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;
  text-decoration: none;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.working-time {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.link-item {
  position: relative;
  text-decoration: none;
  color: #e1d4c9;
}

.link-item::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 2px;
  bottom: 0;
  background-color: #e1d4c9;

  opacity: 0;
  transition: width 0.7s, opacity 0.7s;
}
@media (hover: hover) {
  .link-item:hover::after {
    width: 100%;
    opacity: 1;
    right: -50%;
  }
}
.modal {
  /* display: flex; */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  width: 100%; /* Full width */
  height: fit-content;
  overflow: auto;
  max-width: 800px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 40px;
  background: var(--background-body, #e1d4c9);
  border: 1px solid black;
}
.modal.active {
  display: flex;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: fixed;
  transition: all 200ms;
}
@media(max-width:900px){
  .modal.active{
    max-width: 688px;
  }
}
@media(max-width:767px){
  .modal.active{
   display:inline-flex;
  }
}


.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.overlay.active {
  display: block;
}

.modal-coffee-preview {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
@media (max-width: 768px) {
  .modal-coffee-preview {
    max-width: 656px;
  }
}

.modal-box {
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}
@media(max-width:767px){
  .modal-box{
    display:none
  }
}

.modal-img-1 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(../assets/coffee-1.jpg);
}
.modal-description {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
@media(width:768px){
  .modal-description {
    padding-left: 16px;
  }
}
.modal-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.modal-title1 {
  align-self: stretch;
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-3 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.modal-title2 {
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Body/medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  align-self: stretch;
}
.modal-size {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.size {
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Body/medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.modal-tabs {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}
.tab-item11,
.tab-item111,
.tab-item22,
.tab-item222,
.tab-item33,
.tab-item333 {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.icon11,
.icon111,
.icon22,
.icon222,
.icon33,
.icon333 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--border-light, #c1b6ad);
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.icon11 {
  padding: 3px 9px 3px 10px;
}
.icon22 {
  padding: 3px 7px 3px 8px;
}
.icon33 {
  padding: 3px 10px;
}
.icon111 {
  padding: 3px 12px;
}
.icon222 {
  padding: 3px 10px;
}

.icon333 {
  padding: 3px 9px 3px 10px;
}

@media (hover: hover) {
  .tab-item11:hover,
  .tab-item111:hover,
  .tab-item22:hover,
  .tab-item222:hover,
  .tab-item33:hover,
  .tab-item333:hover {
    background: var(--background-container, #665f55);
    color: var(--text-light, #e1d4c9);
    transition: 0.7s;
    cursor: pointer;
  }
  .tab-item11:hover .icon11,
  .tab-item111:hover .icon111,
  .tab-item22:hover .icon22,
  .tab-item222:hover .icon222,
  .tab-item33:hover .icon33,
  .tab-item333:hover .icon333 {
    background-color: #e1d4c9;
  }
}

.tab-item-active {
  background: var(--background-container, #665f55);
  color: var(--text-light, #e1d4c9);
}
.tab-item-active .size-button-icon {
  background-color: #e1d4c9;
}

.modal-additives {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.Additives {
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Body/medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.modal-tabs2 {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}
.modal-total {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.Total {
  flex: 1 0 0;
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-3 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.total-price {
  flex: 1 0 0;
  color: var(--text-dark, #403f3d);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-3 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.modal-alert {
  display: flex;
  padding: 12px 0px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-top: 1px solid var(--border-light, #c1b6ad);
}
.alert {
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Body/caption */
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 14px */
  flex: 1 0 0;
}
.button-secondary {
  display: flex;
  padding: 10px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  cursor: pointer;
}
