* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.body {
  max-width: 1440px;
  padding: 20px 0px 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background: var(--background-body, #e1d4c9);
  box-sizing: border-box;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  max-width: 1440px;
}
@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
  }
}
.header-container {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 100%;
  }
}
.logo {
  width: 100px;
  height: 60px;
  cursor: pointer;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
.header-menu {
  display: flex;
  max-width: 1360px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
@media (max-width: 768px) {
  .header-menu {
    display: flex;

    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
}

.menu-item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  height: 28px;
}
.menu-item {
  position: relative;
  text-decoration: none;
  color: #403f3d;
}

.menu-item::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 2px;
  bottom: 0;
  background-color: #403f3d;
  opacity: 0;
  transition: width 0.7s, opacity 0.7s;
}

.menu-item:hover::after {
  width: 100%;
  opacity: 1;
  /* right: -50%; */
}
.active-menu-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #403f3d;
  transition: none;
  opacity: 1;
}

.link {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  text-decoration: none;
  height: 24px;
}

.coffee-menu {
  display: flex;
  width: 72px;
  height: 28px;
  justify-content: flex-end;
  align-items: center;
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
@media (max-width: 768px) {
  .coffee-menu {
    display: none;
  }
}
.button-icon-burger {
  display: none;
}
@media (max-width: 768px) {
  .button-icon-burger {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665f55);
  }
}

.button-icon-burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.burger-hover1 {
  width: 16px;
  height: 0px;
  transform: rotate(-45deg);
  position: absolute;
  right: 0px;
  top: 0px;
  stroke-width: 1.5px;
  stroke: var(--text-dark, #403f3d);
}
.burger-hover2 {
  width: 16px;
  height: 0px;
  transform: rotate(45deg);
  position: absolute;
  right: 0px;
  bottom: 0px;
  stroke-width: 1.5px;
  stroke: var(--text-dark, #403f3d);
}

.button-icon-burger .burger-default1,
.button-icon-burger .burger-default2 {
  display: block;
}

.button-icon-burger .burger-hover1,
.button-icon-burger .burger-hover2 {
  display: none;
}

.button-icon-burger:hover .burger-default1,
.button-icon-burger:hover .burger-default2 {
  display: none;
}

.button-icon-burger:hover .burger-hover1,
.button-icon-burger:hover .burger-hover2 {
  display: block;
}

.main {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  margin-bottom: 100px;
}
.menu-container {
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
@media (max-width: 768px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
  }
}
@media (max-width: 380px) {
  .menu-container {
    padding: 0px 16px;
  }
}
.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  padding-top: 20px;
}
.menu-name {
  max-width: 800px;
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-2 */
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}
.amazing {
  color: var(--text-accent, #b0907a);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-2.accent */
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}
@media(max-width:380px){
  .menu-name{
    font-size:32px;
  }
  .amazing{
    font-size:32px;
  }
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 361px;
}
@media(max-width:380px){
  .tabs{
    gap:8px;
  }
}
.tab-item1 {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--background-container, #665f55);
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.icon1 {
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--background-body, #e1d4c9);
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  height: 30px;
  width: 30px;
}
.picture-in-icon {
  height: 18px;
  width: 14px;
}
.tab-item2 {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition: all 0.7s ease;
}
.icon2 {
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--border-light, #c1b6ad);
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  height: 30px;
  width: 30px;
  transition: all 1s ease;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.tab-item2:hover {
  background: var(--background-container, #665f55);
  color: var(--text-light, #e1d4c9);
  transition: 0.7s;
  cursor: pointer;
}
.tab-item2:hover .icon2 {
  background-color: #e1d4c9;
}

.tab-item3 {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition: all 0.7s ease;
}
.icon3 {
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--border-light, #c1b6ad);
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  height: 30px;
  width: 30px;
}
.tab-item3:hover {
  background: var(--background-container, #665f55);
  color: var(--text-light, #e1d4c9);
  transition: 0.7s;
  cursor: pointer;
}
.tab-item3:hover .icon3 {
  background-color: #e1d4c9;
}
.grid {
  display: flex;
  max-width: 1360px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}
.preview {
  display: flex;
  height: 506px;

  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 1px solid var(--border-light, #c1b6ad);
  width: 310px;
  cursor: pointer;
}
.preview:hover .coffee-type {
  transform: scale(0.92);
  transition: 0.7s;
}
.box {
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coffee-type {
  border-radius: 40px;
  transform: scale(1);
  transition: 0.7s;
}
.description-coffee {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.text-description-coffee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.text-coffee {
  align-self: stretch;
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-3 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.small-text-coffee {
  align-self: stretch;
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Body/medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-wrap: wrap;
  word-wrap: break-word;
  /* max-width: 100%; */
}
.price {
  align-self: stretch;
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-3 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

@media (max-width: 768px) {
  .second {
    display: none;
  }
}
.button-refresh {
  display: none;
}
@media (max-width: 768px) {
  .button-refresh {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665f55);
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 0px 40px;
  
}
@media(max-width:380px){
  .contacts{
    display: flex;
width: 380px;
padding: 0px 16px;
flex-direction: column;
justify-content: center;
align-items: center;
  }
}
.contacts-container {
  display: flex;
  max-width: 1360px;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: stretch;
  border-radius: 40px;
  background: var(--background-container, #665f55);
}
@media(max-width:380px){
  .contacts-container{
    padding: 60px 16px;
flex-direction: column;
  }
}
.contacts-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}

@media (max-width: 768px) {
  .contacts-container {
    display: flex;
    max-width: 1360px;
    padding: 100px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    align-self: stretch;
    border-radius: 40px;
    background: var(--background-container, #665f55);
  }
  .contacts-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
  }
  .contacts-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
  }
}
.contacts-text {
  align-self: stretch;
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-2 */
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}
.its {
  align-self: stretch;
  color: var(--text-accent, #b0907a);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-2.accent */
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}
@media(max-width:380px){
  .contacts-text{
    font-size: 32px;
      }
      .its{
        font-size: 32px;
      }
}
.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}
.socials button {
  cursor: pointer;
}
.button-inst {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  background-color: #665f55;
  transition: all 1s ease;
}
.button-inst:hover {
  background-color: #e1d4c9;
}
.button-inst svg.default-inst {
  display: block;
}

.button-inst svg.hover-inst {
  display: none;
}

.button-inst:hover svg.default-inst {
  display: none;
}

.button-inst:hover svg.hover-inst {
  display: block;
}

.button-twitter {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  background-color: #665f55;
  transition: all 1s ease;
}
.button-twitter:hover {
  background-color: #e1d4c9;
}

.button-twitter svg.default-twitter {
  display: block;
}

.button-twitter svg.hover-twitter {
  display: none;
}

.button-twitter:hover svg.default-twitter {
  display: none;
}

.button-twitter:hover svg.hover-twitter {
  display: block;
}

.button-facebook {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  background-color: #665f55;
  transition: all 1s ease;
}
.button-facebook:hover {
  background-color: #e1d4c9;
}

.button-facebook svg.default-facebook {
  display: block;
}

.button-facebook svg.hover-facebook {
  display: none;
}

.button-facebook:hover svg.default-facebook {
  display: none;
}

.button-facebook:hover svg.hover-facebook {
  display: block;
}
.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
.contact-us {
  align-self: stretch;
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Heading/heading-3 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.contacts-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* gap: 16px; */
}
.contacts-right-part {
  gap: 16px;
}
.link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}
.location {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  text-decoration: none;
}
.tel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  text-decoration: none;
}
.working-time {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.link-item {
  position: relative;
  text-decoration: none;
  color: #e1d4c9;
}

.link-item::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 2px;
  bottom: 0;
  background-color: #e1d4c9;

  opacity: 0;
  transition: width 0.7s, opacity 0.7s;
}

.link-item:hover::after {
  width: 100%;
  opacity: 1;
  /* right: -50%; */
}
